@tailwind base;
@tailwind components;
@tailwind utilities;



/* styles/globals.css */

/* .productli {
	@apply text-gray-600 hover:text-black text-sm font-medium border-b-[1px] border-b-gray-400 hover:border-b-gray-700 flex items-center justify-end gap-2 cursor-pointer duration-300 w-full;
  } */
  
/* styles/globals.css */

.productli {
	@apply text-gray-600 hover:text-black text-sm font-medium border-b-[1px] border-b-gray-400 hover:border-b-gray-700 flex items-center justify-end gap-2 cursor-pointer duration-300 w-full;
  }
  
  /* Other global styles or classes */



  body::-webkit-scrollbar-button {
    /* height: 12px; */
    }
    body::-webkit-scrollbar {
    width: 1px;
    }
    /* Track */
    body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
    }
    /* Handle */
    body::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #888888;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    }
    body::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255, 0, 0, 0.4);
    }




    .mild-black::-webkit-scrollbar-button {
      /* Styles for scrollbar button */
        height: 12px;
    }
    
    .mild-black::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      -webkit-border-radius: 10px;
      border-radius: 10px;
    }
    
    .mild-black::-webkit-scrollbar-thumb {
      -webkit-border-radius: 10px;
      border-radius: 10px;
      background: #888888;
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    }
    
    .mild-black::-webkit-scrollbar-thumb:window-inactive {
      background: rgba(255, 0, 0, 0.4);
    }
    
    .mild-black::-webkit-scrollbar {
      width: 4px;
    }
  